/* Reset CSS */

:where(*) {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	font-family: inherit;
	vertical-align: baseline;
	text-decoration: none;
	list-style: none;
}

:where(body) {
	font-family: Arial, Helvetica, sans-serif;
	/* font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji; */
	/* font-family: Noto Color Emoji; */
}

:where(pre) {
	font-family: monospace;
	font-size: 0.8rem;
	max-width: 100%;
	overflow-x: auto;
}

/* END: Reset CSS */
