/* BEGIN: Color scheme */
:root {
	--primary-hue: 200;
	--primary-saturation: 50%;

	--accent-hue: 40;
	--accent-saturation: 70%;

	--normal-hue: 0;
	--normal-saturation: 0%;

	--success-hue: 120;
	--success-saturation: 50%;

	--warning-hue: 40;
	--warning-saturation: 90%;

	--danger-hue: 0;
	--danger-saturation: 70%;

	/* Color variations */
	--primary-100: hsl(var(--primary-hue), var(--primary-saturation), 90%);
	--primary-200: hsl(var(--primary-hue), var(--primary-saturation), 80%);
	--primary-300: hsl(var(--primary-hue), var(--primary-saturation), 70%);
	--primary-400: hsl(var(--primary-hue), var(--primary-saturation), 60%);
	--primary-500: hsl(var(--primary-hue), var(--primary-saturation), 50%);
	--primary-600: hsl(var(--primary-hue), var(--primary-saturation), 40%);
	--primary-700: hsl(var(--primary-hue), var(--primary-saturation), 30%);

	--accent-100: hsl(var(--accent-hue), var(--accent-saturation), 90%);
	--accent-200: hsl(var(--accent-hue), var(--accent-saturation), 80%);
	--accent-300: hsl(var(--accent-hue), var(--accent-saturation), 70%);
	--accent-400: hsl(var(--accent-hue), var(--accent-saturation), 60%);
	--accent-500: hsl(var(--accent-hue), var(--accent-saturation), 50%);
	--accent-600: hsl(var(--accent-hue), var(--accent-saturation), 40%);
	--accent-700: hsl(var(--accent-hue), var(--accent-saturation), 30%);

	--normal-100: hsl(var(--normal-hue), var(--normal-saturation), 90%);
	--normal-200: hsl(var(--normal-hue), var(--normal-saturation), 80%);
	--normal-300: hsl(var(--normal-hue), var(--normal-saturation), 70%);
	--normal-400: hsl(var(--normal-hue), var(--normal-saturation), 55%);
	--normal-500: hsl(var(--normal-hue), var(--normal-saturation), 40%);
	--normal-600: hsl(var(--normal-hue), var(--normal-saturation), 25%);
	--normal-700: hsl(var(--normal-hue), var(--normal-saturation), 10%);

	--success-100: hsl(var(--success-hue), var(--success-saturation), 90%);
	--success-200: hsl(var(--success-hue), var(--success-saturation), 80%);
	--success-300: hsl(var(--success-hue), var(--success-saturation), 70%);
	--success-400: hsl(var(--success-hue), var(--success-saturation), 60%);
	--success-500: hsl(var(--success-hue), var(--success-saturation), 50%);
	--success-600: hsl(var(--success-hue), var(--success-saturation), 40%);
	--success-700: hsl(var(--success-hue), var(--success-saturation), 30%);

	--warning-100: hsl(var(--warning-hue), var(--warning-saturation), 90%);
	--warning-200: hsl(var(--warning-hue), var(--warning-saturation), 80%);
	--warning-300: hsl(var(--warning-hue), var(--warning-saturation), 70%);
	--warning-400: hsl(var(--warning-hue), var(--warning-saturation), 60%);
	--warning-500: hsl(var(--warning-hue), var(--warning-saturation), 50%);
	--warning-600: hsl(var(--warning-hue), var(--warning-saturation), 40%);
	--warning-700: hsl(var(--warning-hue), var(--warning-saturation), 30%);

	--danger-100: hsl(var(--danger-hue), var(--danger-saturation), 90%);
	--danger-200: hsl(var(--danger-hue), var(--danger-saturation), 80%);
	--danger-300: hsl(var(--danger-hue), var(--danger-saturation), 70%);
	--danger-400: hsl(var(--danger-hue), var(--danger-saturation), 60%);
	--danger-500: hsl(var(--danger-hue), var(--danger-saturation), 50%);
	--danger-600: hsl(var(--danger-hue), var(--danger-saturation), 40%);
	--danger-700: hsl(var(--danger-hue), var(--danger-saturation), 30%);
	/* END: Color variations */
}
